html, body {
	max-width: 100%;
	overflow-x: hidden;
}
header.header{ 
	background-color:#836853; 
	width:100%; 
	height:200px; 
	padding:4%; 
} 
	h2.text-header{ 
		text-align:center; 
		font-size:40px;
	} 
div.navholder{ 
	width:100%; 
	height:125px; 
	display:block;
	overflow:hidden;
}
	/* this is the begin of navholderprojecten */
div.navholderprojecten{ 
	width:100%; 
	height:125px; 
} 
	/* this is the end of navholderprojecten */
	div.navinfo{ 
		width:50%; 
		height:100px; 
		background-color:#636566; 
		display: inline-block; 
		float:left; 
	} 
		div.nav{ 
			width:50%; 
			height:125px; 
			background-color:#636566; 
			display: inline-block; 
			float:right; 
		} 
/* start link */
ul { 
list-style-type: none; 
margin: 0; 
padding: 0; 
overflow: hidden; 
} 
li { 
float: left; 
} 
li a { 
display: inline-block; 
color:black; 
text-align: center; 
padding: 8px 10px; 
text-decoration: none; 
}
li a:hover { 
background-color:lightgray; 
} 
.active { 
background-color:#bf0020; 
}
/* end link */
div.projectholder{ 
width:100%; 
height:150px; 
background-color:pink; 
} 
div.project1{ 
width:20%; 
height:150px; 
padding-left:5%; 
float:left; 
} 
div.project2{ 
width:20%; 
height:150px; 
padding-left:5%; 
float:left; 
} 
div.project3{ 
width:20%; 
height:150px; 
padding-left:5%; 
float:left; 
} 
div.infoprojecten{ 
width:100%; 
height:130px; 
background-color:#909190;
} 
/* start slideshow */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}

.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.active {
background-color: #363636;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
.img1{
width:100%;
z-index:0;
vertical-align: middle;
}
/* end slide show */
footer.footer{ 
	width:100%; 
	height:125px; 
	background-color:#0C45C8; 
	bottom:0; 
} 
div.tijdelijk{ 
	width:100%; 
	height:500px; 
} 
/*start gallery */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery{
  width: 100%;
  height: auto;
}
 .imggallery { 
  width: 100%;
  height: auto;
 }
div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.testfoto{
	width:100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
